body {
  background-color: black;
}

main {
  padding: 200px 0 200px 0;
  color: white;
}

.contact input {
  background-color: transparent;
  border-bottom: 2px solid white;
  height: 45px;
  width: 180px;
}

